body {
  background: linear-gradient(0.25turn, #033043, #b5bca6, #311c5e);
}

.App {
  text-align: center;
}

.choices {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 175px;
}

.choice {
  display: flex;
    width: 175px;
    height: 175px;
    font-size: 65px;
    background-color: #b5bca6;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 30px;
    box-shadow: 5px 5px 20px; 
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
   color: #033043
}

.home {
  color: #bd2842;
  background-color: #dcba9d;
  border: solid black 3px;
  width: 125px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  line-height: 2.5;
}